services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./surxon_backend:/app
    environment:
      - DEBUG=1
      - DJANGO_SETTINGS_MODULE=config.settings
    command: python manage.py runserver 0.0.0.0:8000